@use "variaveis";

.header {
    display: flex;
    width: 100%;



    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        padding: 20px 0;


    }

    &__links {
        display: flex;
        list-style: none;

        gap: 50px;

        @media (max-width: 360px) {
            display: block;
            margin-top: 20px;

            &__item {
                margin: 10px 0;
            }
        }
    }

    a {
        text-decoration: none;

        font-size: 1.3rem;
        font-weight: bold;
        font-family: Batman-one, sans-serif;

        color: variaveis.$corDosTextos;

        transition: .3s ease;

        &:hover {
            color: variaveis.$corDoHover;
        }
    }
}