@use 'variaveis';
@use 'header';
@use 'abouts';
@use 'cast';
@use 'scenes';
@use 'footer';


@font-face {
    font-family: Batman-one;
    src: url(../../assets/fonts/batmfa__.ttf);
}

@font-face {
    font-family: Batman-two;
    src: url(../../assets/fonts/batmfo__.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../dist/images/gradient.png"), url(../../dist/images/bg_fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: auto;

    @media (max-width: 360px) {
    background-position: center;
    }

    @media (min-width: 361px) and (max-width: 768px) {
        background-position: center;
    }
}